@page
@model CollaborationModel
@{
    ViewData["Title"] = "Partnership & Collaboration";
}  

<div class="container-fluid px-4 py-5 my-5 text-center mb-5">
	<div class="lc-block mb-4">
		<div editable="rich">
			<h2 class="display-2 fw-bold">Mari Bergabung <span class="text-primary">Dengan Kami!</span></h2>
		</div>
	</div>
	<div class="lc-block col-lg-6 mx-auto mb-5">
		<div editable="rich">

			<p class="lead">Bergabung dan berkolaborasi dengan kami untuk mengembangkan inovasi di bidang AI yang lebih mutakhir</p>
		</div>
	</div>

	<div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"> <a class="btn btn-primary btn-lg px-4 gap-3" href="#mitra" role="button">Mitra</a>
		<a class="btn btn-primary btn-lg px-4 gap-3" href="#karir" role="button">Karir</a>
	</div>
	<div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center">
		<img class="img-fluid" src="~/ai/vecteezy_illustration-of-artificial-intelligence-develops-machine_4244700.jpg" width="" height="783" srcset="" sizes="" alt="">
	</div>
</div>



<section id="mitra" class="mitra">

    <!-- <div class="container text-center py-5 ">
        <div class="p-5 mb-4 lc-block">
            <div class="lc-block mb-4">
                <div editable="rich">
                    <h2 class="fw-bold display-2">Mitra</h2>
                </div>
            </div>
            <div class="lc-block mb-5">
                <div editable="rich">
                    <p class="lead">Bergabung bersama menjadi mitra kami untuk berkembang dan sukses bersama dalam mempercepat inovasi teknologi di bidang kecerdasan buatan di Indonesia serta mewujudkan transformasi digital yang aman dan nyaman untuk semua.</p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container text-center py-1 mt-5 ">
        <div class="p-2 mb-3 lc-block">
            <div class="lc-block mb-4">
                <div editable="rich">
                    <h2 class="fw-bold display-2">Mitra</h2>
                </div>
            </div>
            <div class="lc-block mb-2">
                <div editable="rich">
                    <p class="lead">Bergabung bersama menjadi mitra kami untuk berkembang dan sukses bersama dalam mempercepat inovasi teknologi di bidang kecerdasan buatan di Indonesia serta mewujudkan transformasi digital yang aman dan nyaman untuk semua.</p>
                </div>
            </div>
        </div>
    </div>
    

    <div class="container py-4 mb-10">
        <div class="row mb-7">
            <div class="col-md-6 align-self-center">
                <div class="lc-block">
                    <img class="img-fluid mx-auto d-block" src="https://cdn.livecanvas.com/media/svg/undraw/analytics.svg" style="height:30vh">
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-md-6 mb-5">
                <div class="lc-block">
                    <div editable="rich">

                        <h3>Mari berkolaborasi untuk mengembangkan solusi berbasis teknologi Kecerdasan Buatan dan Pemrosesan Bahasa Alami (NLP) Bahasa Indonesia untuk pelanggan Anda</h3>

                        <p>Kami terbuka untuk menjalin kerja sama dengan penyedia layanan perangkat lunak atau teknologi informasi untuk mengimplementasikan solusi kecerdasan buatan untuk klien Anda. Kami juga terbuka untuk bekerja sama dengan lembaga riset dan universitas yang ingin mengembangkan teknologi kecerdasan buatan.&nbsp;</p>
                        
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
        </div>
        <div class="row mt-5">
            <div class="col-md-3 col-sm-6">
                <div class="lc-block">
                    <img class="img-fluid mx-auto d-block mb-2" src="~/other/PNG/DrawKit Vector Illustration Team Work (6).png" style="height:10vh">
                </div><!-- /lc-block -->
                <div class="lc-block text-center">
                    <div editable="rich">

                        <!-- <h4>1</h4> -->

                        <p>Kembangkan solusi berbasis AI yang dapat dikostumisasi sesuai kebutuhan perusahaan Anda.&nbsp;</p>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-md-3 col-sm-6">
                <div class="lc-block">
                    <img class="img-fluid mx-auto d-block mb-2" src="~/other/PNG/DrawKit Vector Illustration Team Work (2).png" style="height:10vh">
                </div><!-- /lc-block -->
                <div class="lc-block text-center">
                    <div editable="rich">

                       

                        <p>Maksimalkan pendapatan bisnis dan tingkatkan loyalitas pelanggan.&nbsp;</p>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-md-3 col-sm-6">
                <div class="lc-block">
                    <img class="img-fluid mx-auto d-block mb-2" src="~/other/PNG/DrawKit Vector Illustration Team Work (3).png" style="height:10vh">
                </div><!-- /lc-block -->
                <div class="lc-block text-center">
                    <div editable="rich">

    

                        <p>Tingkatkan nilai dan pelayanan pada bisnis Anda.&nbsp;</p>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-md-3 col-sm-6">
                <div class="lc-block">
                    <img class="img-fluid mx-auto d-block mb-2" src="~/other/PNG/DrawKit Vector Illustration Team Work (4).png" style="height:10vh">
                </div><!-- /lc-block -->
                <div class="lc-block text-center">
                    <div editable="rich">

                      

                        <p>Jadilah bagian dari percepatan transformasi digital dengan teknologi AI.&nbsp;</p>
                    </div>
                </div><!-- /lc-block -->
            </div><!-- /col -->
        </div>
    </div>
</section>

<section id ="karir" class="karir mb-5 mt-5">
    <div class="container text-center py-1 mt-5 ">
        <div class="p-2 mb-3 lc-block">
            <div class="lc-block mb-4">
                <div editable="rich">
                    <h2 class="fw-bold display-2">Karir</h2>
                </div>
            </div>
            <div class="lc-block mb-2">
                <div editable="rich">
                    <p class="lead">Bergabung dan jadilah bagian dari Lemma.ai untuk mengembangkan inovasi di bidang AI. Temukan pengalaman dan kesempatan baru yang dapat mengasah kompetensimu!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 text-center">
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow h-100">
				<div class="lc-block mb-4"><img alt="" class="img-fluid" src="~/other/PNG/DrawKit Vector Illustration Team Work (2).png" style="height:10vh">


					<h4 class="my-3 text-center" editable="inline"><strong>Customer-First</strong></h4>
					<p editable="inline">Meletakkan kebutuhan pelanggan sebagai prioritas utama dalam penentuan keputusan.&nbsp;</p>


					<!-- <a class="btn btn-outline-primary" href="#" role="button">Read more</a> -->
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow h-100">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="~/other/PNG/DrawKit Vector Illustration Team Work (3).png" style="height:10vh">


					<h4 class="my-3 text-center" editable="inline"><strong>Collaboration</strong></h4>
					<p editable="inline">Mengedepankan kolaborasi untuk mencapai tujuan.&nbsp;</p>


					<!-- <a class="btn btn-outline-primary" href="#" role="button">Read more</a> -->
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow h-100">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="~/other/PNG/DrawKit Vector Illustration Team Work (4).png" style="height:10vh">

					<h4 class="my-3 text-center" editable="inline"><strong>Excellence and Sustainability</strong></h4>
					<p editable="inline">Mengembangkan inovasi terbaik dengan menerapkan standar tinggi dan melakukannya secara berkelanjutan demi inovasi yang lebih baik.&nbsp;</p>

					<!-- <a class="btn btn-outline-primary" href="#" role="button">Read more</a> -->
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
	</div>

    
    <!-- <div class="container text-center py-5 ">
        <div class="p-5 mb-4 lc-block">
            <div class="lc-block mb-4">
                <div editable="rich">
                    <h3 class="fw-bold display-2">Vacancy</h3>
                </div>
            </div>
            <div class="lc-block mb-5">
                <div editable="rich">
                    <p class="lead">Posisi yang saat ini sedang kami butuhkan</p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container text-center py-1 mt-5 ">
        <div class="p-2 mb-3 lc-block">
            <div class="lc-block mb-4">
                <div editable="rich">
                    <h2 class="fw-bold display-2">Vacancy</h2>
                </div>
            </div>
            <div class="lc-block mb-2">
                <div editable="rich">
                    <p class="lead">Posisi yang saat ini sedang kami butuhkan</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-5 mb-10">

        <div class="row">
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="lc-block bg-white rounded shadow"><img src="https://images.unsplash.com/photo-1473448912268-2022ce9509d8?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768" alt="Photo by Luca Bravo" class="img-fluid card-img-top" srcset="https://images.unsplash.com/photo-1473448912268-2022ce9509d8?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768 1080w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=150 150w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=300 300w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=768 768w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1024 1024w" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4 text-center">
                        <div editable="rich">
                            <h4>Senior Data Scientist</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="lc-block bg-white rounded shadow"><img src="https://images.unsplash.com/photo-1473448912268-2022ce9509d8?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768" alt="Photo by Luca Bravo" class="img-fluid card-img-top" srcset="https://images.unsplash.com/photo-1473448912268-2022ce9509d8?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768 1080w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=150 150w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=300 300w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=768 768w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1024 1024w" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4 text-center">
                        <div editable="rich">
                            <h4>Senior Frontend Web Developer</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="lc-block bg-white rounded shadow"><img src="https://images.unsplash.com/photo-1473448912268-2022ce9509d8?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768" alt="Photo by Luca Bravo" class="img-fluid card-img-top" srcset="https://images.unsplash.com/photo-1473448912268-2022ce9509d8?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768 1080w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=150 150w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=300 300w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=768 768w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1024 1024w" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4 text-center">
                        <div editable="rich">
                            <h4>Senior Backend Web Developer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="lc-block bg-white rounded shadow"><img src="https://images.unsplash.com/photo-1473448912268-2022ce9509d8?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768" alt="Photo by Luca Bravo" class="img-fluid card-img-top" srcset="https://images.unsplash.com/photo-1473448912268-2022ce9509d8?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768 1080w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=150 150w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=300 300w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=768 768w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1024 1024w" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4 text-center">
                        <div editable="rich">
                            <h4>AI-NLP Researcher</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="lc-block bg-white rounded shadow"><img src="https://images.unsplash.com/photo-1473448912268-2022ce9509d8?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768" alt="Photo by Luca Bravo" class="img-fluid card-img-top" srcset="https://images.unsplash.com/photo-1473448912268-2022ce9509d8?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768 1080w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=150 150w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=300 300w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=768 768w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1024 1024w" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4 text-center">
                        <div editable="rich">
                            <h4>System Engineer</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="lc-block bg-white rounded shadow"><img src="https://images.unsplash.com/photo-1473448912268-2022ce9509d8?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768" alt="Photo by Luca Bravo" class="img-fluid card-img-top" srcset="https://images.unsplash.com/photo-1473448912268-2022ce9509d8?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768 1080w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=150 150w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=300 300w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=768 768w, https://images.unsplash.com/photo-1473448912268-2022ce9509d8??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8MHx8fDE2MzQ5ODc4NTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1024 1024w" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4 text-center">
                        <div editable="rich">
                            <h4>Project Manager</h4>
                        </div>
                    </div>
                </div>
            </div>
	    </div>

    </div>

</section>