@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- <div class="text-left"> -->

	<!-- <div class="container col-xxl-8 px-4 py-5"> -->
<div class="container">
	<!-- header -->
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5 mb-5 mt-2">
		<div class="col-10 col-sm-8 col-lg-8">
			<img src="~/ai/home-1.jpg" width="864" height="384" class="d-block mx-lg-auto img-fluid" alt="" loading="lazy">
		</div>
		<div class="col-lg-4">
			<div class="lc-block mb-3">
				<div editable="rich">
					<h1 class="fw-bold display-5">Optimalkan Bisnis Anda dengan Solusi Kecerdasan Buatan</h1>
				</div>
			</div>

			<div class="lc-block mb-3">
				<div editable="rich">
					<p class="lead">Kembangkan bisnis Anda dengan teknologi Kecerdasan Buatan (AI) dan Pemrosesan Bahasa Natural (NLP)
					</p>
				</div>
			</div>

			<div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start"><a class="btn btn-primary px-4 me-md-2" href="#about" role="button">Read More</a>
			</div>

		</div>
	</div>
</div>

<section id="about" class="about">
<div class="container text-center py-lg-6 py-4">
	<div class="row justify-content-center flex-lg-row-reverse align-items-center g-5 mt-2">
		<div class="col-xl-7 col-lg-8 col-md-10 d-flex justify-content-center flex-wrap">
			<div class="lc-block">
				<img src="~/logo-1.png" alt="" width="449" height="85" class="d-inline-block align-text-top">
			</div>

		</div>
		<div class="col-xl-7 col-lg-8 col-md-10">
			<div class="lc-block mb-4">
				<div editable="rich">
					<h2 class="rfs-25 fw-bolder"></h2>
				</div>
			</div>
		</div>
		<div class="col-lg-8 col-md-9 col-sm-10 col-xl-6">
			<div class="lc-block">
				<div editable="rich">
					<p class="lead">Lemma.ai menyediakan solusi-solusi inovatif untuk meningkatkan produktivitas bisnis Anda dengan mengimplementasikan teknologi kecerdasan buatan dan pemrosesan bahasa alami.&nbsp;</p>
				</div>
			</div>
		</div>
	</div>
</div>
</section>


<div class="lc-block mt-10">
	<div class="section-title" editable="rich">
		<h2>Keunggulan dan Manfaat</h2>
	</div>
</div>
<!-- features -->
<!-- <div class="row align-items-md-center mb-5 bottom-buffer">
	<!-- <div class="content-marker"></div> 
	<div class="col-md-12">
		<div class="lc-block text-center"><span editable="rich" class="small mt-4 d-block"></span>
			<h1 editable="rich" class="fw-bold display-5 mb-3"><b>Keunggulan</b></h1>
			 <p editable="inline"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus <br> id ligula malesuada placerat sit amet quis enim.</p> 
		</div> /lc-block 
	</div> /col 
</div> -->
  
<div class="min-vh-100 d-flex">
		<div class="container align-self-center">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<div class="lc-block py-5">
						<div editable="rich">

							<h5><strong>1. Melimpahnya Data Teks</strong></h5>

							<p>Data teks yang berasal dari platform online dan media sosial sangatlah masif, oleh karena itu Konteks.ai mengembangkan teknologi dengan memanfaatkan data teks untuk membantu kebutuhan bisnis.&nbsp;</p>
						</div>
					</div><!-- /lc-block -->

					<div class="lc-block py-5">
						<div editable="rich">

							<h5><strong>2. Pencegahan Online Toxicity</strong></h5>

							<p>Lemma.ai mengembangkan teknologi yang mampu mencegah penyebaran misinformasi dan kejahatan siber demi menciptakan platform online yang aman</p>
						</div>
					</div><!-- /lc-block -->
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 align-center ">

					<div class="lc-block mb-2" style="width:100%">
						<img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/drawkit/holding-phone-colour.svg">
					</div>



				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
					<div class="lc-block py-5">
						<div editable="rich">

							<h5><strong>3. Pemrosesan Teks Otomatis Berbasis Kecerdasan Buatan</strong></h5>

							<p>Lemma.ai mengembangkan model pemrosesan teks otomatis dengan menggunakan teknologi pemrosesan bahasa natural dan deep learning yang memiliki performa dan akurasi sangat baik</p>
						</div>
					</div><!-- /lc-block -->

					<div class="lc-block py-5">
						<div editable="rich">

							<h5><strong>4. Optimalisasi Kebutuhan Bisnis</strong></h5>

							<p>Kostumisasi model sesuai kebutuhan platform bisnis Anda untuk meningkatkan efisiensi dengan mengoptimalkan produktivitas dan kenyamanan pengguna platform.</p>
						</div>
					</div><!-- /lc-block -->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5 mb-5 mt-2">
		<div class="col-md-12 text-center">
			<div class="lc-block">
				<div class="section-title" editable="rich">
					<h2>Solusi Kami</h2>
					<p editable="inline"> Kami mengembangkan solusi bisnis Anda dengan teknologi Kecerdasan Buatan dan Pemrosesan Bahasa Natural</p>
				</div>
			</div><!-- /lc-block -->
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow h-100 text-center">
				<div class="lc-block mb-4"><img alt="" class="img-fluid" src="~/analyzer.jpg" style="height:10vh">


					<h4 class="my-3 text-center" editable="inline"><strong>Contextual and Sentiment Text Analyzer</strong></h4>
					<p editable="inline">Program yang dapat menganalisis teks untuk mengetahui insight secara kontekstual atau sentimental dari teks tersebut&nbsp;</p>


					<a class="btn btn-outline-primary" asp-area="" asp-page="/q1/Solution" role="button">Read more</a>
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow h-100 text-center">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="~/hoax.jpg" style="height:10vh">


					<h4 class="my-3 text-center" editable="inline"><strong>Hoax Detection Intelligence</strong></h4>
					<p editable="inline">Program yang dapat memprediksi kevalidan suatu berita atau informasi.&nbsp;</p>


					<a class="btn btn-outline-primary" asp-area="" asp-page="/q1/Solution" role="button">Read more</a>
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
		<div class="col-md-4">
			<div class="p-lg-5 p-4 shadow h-100 text-center">
				<div class="lc-block mb-4">
					<img alt="" class="img-fluid" src="~/chatbot.jpg" style="height:10vh">

					<h4 class="my-3 text-center" editable="inline"><strong>Customized Chatbot</strong></h4>
					<p editable="inline">Chatbot pintar dengan Bahasa Indonesia yang dapat dikostumisasi sesuai kebutuhan bisnis.&nbsp;</p>

					<a class="btn btn-outline-primary" asp-area="" asp-page="/q1/Solution" role="button">Read more</a>
				</div><!-- /lc-block -->
			</div>
		</div><!-- /col -->
	</div>
</div>


  
<div class="container pb-10">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5 mb-4 mt-2">
		<div class="col-md-12 text-center">
			<div class="lc-block mb-4">
				<div class="section-title" editable="rich">
					<h2>Mitra</h2>
					<p editable="inline"> Berikut mitra-mitra yang bekerja sama dengan Lemma.ai untuk membantu transformasi digital dengan kecerdasan buatan</p>
				</div>
			</div>
			<!-- /lc-block -->
		</div>
	</div>
	<div class="row mt-4 flex-lg-row-reverse align-items-center g-5 py-5 mb-5">
		<div class="col-md-3 col-6">
			<div class="lc-block">
				<div class="text-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="5em" height="5em" lc-helper="svg-icon" fill="currentColor">
						<path d="M640 329.3c0 65.9-52.5 114.4-117.5 114.4-165.9 0-196.6-249.7-359.7-249.7-146.9 0-147.1 212.2 5.6 212.2 42.5 0 90.9-17.8 125.3-42.5 5.6-4.1 16.9-16.3 22.8-16.3s10.9 5 10.9 10.9c0 7.8-13.1 19.1-18.7 24.1-40.9 35.6-100.3 61.2-154.7 61.2-83.4.1-154-59-154-144.9s67.5-149.1 152.8-149.1c185.3 0 222.5 245.9 361.9 245.9 99.9 0 94.8-139.7 3.4-139.7-17.5 0-35 11.6-46.9 11.6-8.4 0-15.9-7.2-15.9-15.6 0-11.6 5.3-23.7 5.3-36.3 0-66.6-50.9-114.7-116.9-114.7-53.1 0-80 36.9-88.8 36.9-6.2 0-11.2-5-11.2-11.2 0-5.6 4.1-10.3 7.8-14.4 25.3-28.8 64.7-43.7 102.8-43.7 79.4 0 139.1 58.4 139.1 137.8 0 6.9-.3 13.7-1.2 20.6 11.9-3.1 24.1-4.7 35.9-4.7 60.7 0 111.9 45.3 111.9 107.2z"></path>
					</svg>
					<h4 class="mb-2 mt-2" editable="inline">Partner</h4>
					<p editable="inline">Seo</p>
				</div>
			</div>
			<!-- /lc-block -->
		</div>
		<!-- /col -->
		<div class="col-md-3 col-6">
			<div class="lc-block">
				<div class="text-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="5em" height="5em" lc-helper="svg-icon" fill="currentColor">
						<path d="M195.11,285.18a51.06,51.06,0,1,1-51.05-51.06,51,51,0,0,1,51.05,51.06m236.77-51.06a51.06,51.06,0,1,0,51.06,51.06,51.06,51.06,0,0,0-51.06-51.06m144,51.06A143.94,143.94,0,0,1,334.11,390.76L288,440.93l-46.14-50.2A143.91,143.91,0,1,1,47.09,178.82L0,127.58H104.66a326.11,326.11,0,0,1,367,0H576l-47.09,51.24a143.56,143.56,0,0,1,46.94,106.36m-334.4,0a97.39,97.39,0,1,0-97.39,97.39,97.39,97.39,0,0,0,97.39-97.39m154.63-145.4a281,281,0,0,0-216.17,0C241.38,163.29,288,218.28,288,282.37c0-64.08,46.61-119.07,108.08-142.59m133.2,145.4a97.4,97.4,0,1,0-97.4,97.39,97.4,97.4,0,0,0,97.4-97.39"></path>
					</svg>
					<h4 class="mb-2 mt-2" editable="inline">Partner</h4>
					<p editable="inline">Sem</p>
				</div>
			</div>
			<!-- /lc-block -->
		</div>
		<!-- /col -->
		<div class="col-md-3 col-6">
			<div class="lc-block">
				<div class="text-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" width="5em" height="5em" lc-helper="svg-icon" fill="currentColor">
						<path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z"></path>
					</svg>
					<h4 class="mb-2 mt-2" editable="inline">Partner</h4>
					<p editable="inline">Ecommerce&nbsp;</p>
				</div>
			</div>
			<!-- /lc-block -->
		</div>
		<!-- /col -->
		<div class="col-md-3 col-6">
			<div class="lc-block">
				<div class="text-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="5em" height="5em" lc-helper="svg-icon" fill="currentColor">
						<path d="M502.9 266v69.7c0 62.1-50.3 112.4-112.4 112.4-61.8 0-112.4-49.8-112.4-111.3v-70.2l34.3 16 51.1-15.2V338c0 14.7 12 26.5 26.7 26.5S417 352.7 417 338v-72h85.9zm-224.7-58.2l34.3 16 51.1-15.2V173c0-60.5-51.1-109-112.1-109-60.8 0-112.1 48.2-112.1 108.2v162.4c0 14.9-12 26.7-26.7 26.7S86 349.5 86 334.6V266H0v69.7C0 397.7 50.3 448 112.4 448c61.6 0 112.4-49.5 112.4-110.8V176.9c0-14.7 12-26.7 26.7-26.7s26.7 12 26.7 26.7v30.9z"></path>
					</svg>
					<h4 class="mb-2 mt-2" editable="inline">Partner</h4>
					<p editable="inline">Development&nbsp;</p>
				</div>
			</div>
			<!-- /lc-block -->
		</div>
		<!-- /col -->
	</div>
</div>


<!-- <div class="container">
	<div class="row mb-4 align-items-center top-buffer">
		<div class="col-lg-6 mb-4 mb-lg-0">
			<div class="lc-block text-center">
				<img class="img-fluid w-50" src="https://cdn.livecanvas.com/media/svg/isometric/app_development_SVG.svg" srcset="" sizes="" width="" height="">
			</div>
		</div> /col 
		<div class="col-lg-6 p-lg-6">
			<div class="lc-block mb-5">
				<div editable="rich">

					<h2 class="display-6 fw-bold">Boost your Creativity</h2>

					<p class="lead"><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est. Etiam diam metus.</p>
				</div>
			</div>
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p>Lorem ipsum dolor sit amet</p>
					</div>
				</div>
			</div>
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p>Consectetur adipiscing elit.</p>
					</div>
				</div>
			</div>
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p>Aenean vel nisi in ipsum congue</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-4 align-items-center top-buffer bottom-buffer">
		<div class="col-lg-6 mb-4 mb-lg-0 order-lg-1">
			<div class="lc-block text-center">
				<img class="img-fluid w-50" src="https://cdn.livecanvas.com/media/svg/isometric/Startup_SVG.svg" srcset="" sizes="" width="" height="">
			</div>
		</div>
		<div class="col-lg-6 p-lg-6">
			<div class="lc-block mb-5">
				<div editable="rich">

					<h2 class="display-6 fw-bold">Increase your Sales</h2>

					<p class="lead"><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est. Etiam diam metus.</p>
				</div>
			</div>
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p>Lorem ipsum dolor sit amet</p>
					</div>
				</div>
			</div>
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p>Consectetur adipiscing elit.</p>
					</div>
				</div>
			</div>
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p>Aenean vel nisi in ipsum congue</p>
					</div>
				</div>
			</div>
		</div>

</div> -->

	







    

<!-- </div> -->
