@page
@model SolutionModel
@{
    ViewData["Title"] = "Solution";
}


  

<div class="container-fluid px-4 py-5 my-5 text-center mt-5 mb-10">
	<div class="lc-block col-lg-6 mx-auto">
		<div editable="rich">

			<p class="lead "></p>

		</div>
	</div>
	<div class="lc-block">
		<div editable="rich">

			<h2 class="fw-bold display-2">Solusi Kami</h2>

		</div>
	</div>
	<div class="lc-block col-lg-6 mx-auto mb-4">
		<div editable="rich">

			<p class="lead ">Kami mengembangkan solusi bisnis Anda dengan teknologi Kecerdasan Buatan dan Pemrosesan Bahasa Natural</p>

		</div>
	</div>


</div>


<div class="container mt-10 mb-10">
	<div class="row mb-4 align-items-center">
		<div class="col-lg-6 mb-4 mb-lg-0">
			<div class="lc-block text-center">
				<img class="img-fluid w-50" src="~/analyzer.jpg" srcset="" sizes="" width="" height="">
			</div><!-- /lc-block -->
		</div><!-- /col -->
		<div class="col-lg-6 p-lg-6">
			<div class="lc-block mb-5">
				<div editable="rich">

					<h2 class="display-6 fw-bold">Contextual and Sentiment Text Analyzer</h2>

					<p class="lead"><br>Pelajari apa yang sedang dibicarakan pelanggan bisnis Anda melalui Text Analyzer kami. 
                    Program ini dapat digunakan untuk mengekstrak informasi dan poin penting dari keinginan pelanggan 
                    supaya dapat meningkatkan pelayanan bisnis Anda. Selain itu, Anda juga dapat mengetahui bagaimana impresi
                    dan sentimen pelanggan Anda melalui program ini.</p>
				</div>
			</div><!-- /lc-block -->
			<!-- /lc-block -->
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p>Dapat menganalisis data teks secara real-time</p>
					</div>
				</div>
			</div>
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p>Mengambil informasi penting dari data teks bisnis untuk membuat kebijakan bisnis yang data-driven</p>
					</div>
				</div>
			</div>
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p>Ketahui sentimen pelanggan Anda guna meningkatkan layanan bisnis Anda</p>
					</div>
				</div>
			</div><!-- /lc-block -->
		</div><!-- /col -->
	</div>
	<div class="row mb-4 align-items-center">
		<div class="col-lg-6 mb-4 mb-lg-0 order-lg-1">
			<div class="lc-block text-center">
				<img class="img-fluid w-50" src="~/hoax.jpg" srcset="" sizes="" width="" height="">
			</div><!-- /lc-block -->
		</div><!-- /col -->
		<div class="col-lg-6 p-lg-6">
			<div class="lc-block mb-5">
				<div editable="rich">

					<h2 class="display-6 fw-bold">Hoax Detection Intelligence</h2>

					<p class="lead"><br>Website untuk mengecek kebenaran suatu informasi atau berita. Masukkan teks berita pada kolom yang tersedia dan dapatkan validasi dari berita tersebut.</p>
				</div>
			</div><!-- /lc-block -->
			<!-- /lc-block -->
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p>Gratis</p>
					</div>
				</div>
			</div>
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p>Prediksi berita dengan cepat</p>
					</div>
				</div>
			</div>
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p>Database berita yang lengkap untuk menjamin keakuratan hasil prediksi</p>
					</div>
				</div>
			</div><!-- /lc-block -->
		</div><!-- /col -->
	</div>
    <div class="row mb-4 align-items-center">
		<div class="col-lg-6 mb-4 mb-lg-0">
			<div class="lc-block text-center">
				<img class="img-fluid w-50" src="~/chatbot.jpg" srcset="" sizes="" width="" height="">
			</div><!-- /lc-block -->
		</div><!-- /col -->
		<div class="col-lg-6 p-lg-6">
			<div class="lc-block mb-5">
				<div editable="rich">

					<h2 class="display-6 fw-bold">Customized Chatbot</h2>

					<p class="lead"><br>Manfaatkan Chatbot untuk bisnis Anda demi pelayanan informasi pada pelanggan yang lebih efisien dan efektif.
                    Penggunaan Chatbot dapat memangkas waktu tunggu pelanggan untuk mendapatkan informasi atau jawaban dari permasalahan mereka. Chatbot dapat
                    dikostumisasi sesuai dengan kebutuhan bisnis Anda.</p>
				</div>
			</div><!-- /lc-block -->
			<!-- /lc-block -->
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p>Meningkatkan kepuasan pelanggan karena mendapat informasi dengan cepat</p>
					</div>
				</div>
			</div>
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p>Menjamin kemudahan komunikasi pelanggan dengan bisnis Anda</p>
					</div>
				</div>
			</div>
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p>Dapat dikostumisasi sesuai kebutuhan bisnis Anda</p>
					</div>
				</div>
			</div><!-- /lc-block -->
		</div><!-- /col -->
	</div>
</div>