@page
@model StartupModel
@{
    ViewData["Title"] = "Startup Profile";
}

<div class="container text-center py-1 mt-5 ">
	<div class="p-2 mb-3 lc-block">
		<div class="lc-block mb-4">
			<div editable="rich">
				<h2 class="fw-bold display-2">Startup Profile</h2>
			</div>
		</div>
		<div class="lc-block mb-2">
			<div editable="rich">
				<p class="lead">Lemma.ai adalah startup yang bergerak di bidang teknologi kecerdasan buatan (AI) dan pemrosesan bahasa natural (NLP). Kami hadir untuk membantu mengembangkan bisnis klien agar lebih produktif dan efisien dengan memanfaatkan AI dan NLP.</p>
			</div>
		</div>
	</div>
</div>

<div class="container text-center py-1 mt-5">
	
	<div class="p-2 mb-3 lc-block">
		<div class="lc-block mb-4">
			<div editable="rich">
				<h2 class="fw-bold display-5">Tim Kami</h2>
			</div>
		</div>
		<div class="lc-block mb-2">
			<div editable="rich">
				<p class="lead">Berikut adalah tim Lemma.ai</p>
			</div>
		</div>
	</div>
</div>

<section class="team text-center py-5">
   <div class="container">
     <!-- <div class="header my-5">
       <h1>Meet our Team </h1>
       <p class="text-muted">Meet and Greet our Team Members</p>
     </div> -->
     <div class="row">
       <div class="col-md-6 col-lg-3">
         <div class="img-block mb-5">
           <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
           <div class="content mt-2">
             <h4>Zain Knob</h4>
             <p class="text-muted">CEO & Founder</p>
           </div>
         </div>
       </div>
       <div class="col-md-6 col-lg-3 ">
         <div class="img-block mb-5">
           <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
           <div class="content mt-2">
             <h4>Syndia Lee</h4>
             <p class="text-muted">Chief Scientist</p>
           </div>
         </div>
       </div>
       <div class="col-md-6 col-lg-3">
         <div class="img-block mb-5">
           <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
           <div class="content mt-2">
             <h4>Noel Flantier</h4>
             <p class="text-muted">VP in Engineer</p>
           </div>
         </div>
       </div>
       <div class="col-md-6 col-lg-3">
         <div class="img-block mb-5">
           <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
           <div class="content mt-2">
             <h4>Bobby Doe</h4>
             <p class="text-muted">VP in Marketing</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>


<div class="container">
	<div class="row mb-4 align-items-center">
		<div class="col-lg-6 mb-4 mb-lg-0">
			<div class="lc-block text-center">
				<img class="img-fluid w-50" src="https://cdn.livecanvas.com/media/svg/isometric/app_development_SVG.svg" srcset="" sizes="" width="" height="">
			</div><!-- /lc-block -->
		</div><!-- /col -->
		<div class="col-lg-6 p-lg-6">
			<div class="lc-block mb-5">
				<div editable="rich">

					<h2 class="display-5 fw-bold">Keunggulan Kami</h2>

				
				</div>
			</div><!-- /lc-block -->
			<!-- /lc-block -->
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p class="lead">Didirikan oleh para ilmuwan yang ahli pada bidang kecerdasan buatan dan pemrosesan teks</p>
					</div>
				</div>
			</div>
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p class="lead">Mengedepankan kebutuhan pelanggan (Customer-First) untuk proses pengambilan keputusan dalam pengembangan produk</p>
					</div>
				</div>
			</div>
			<div class="lc-block">
				<div class="d-inline-flex">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="text-primary" viewBox="0 0 16 16" lc-helper="svg-icon">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
						</svg>
					</div>

					<div class="ms-3 align-self-center" editable="rich">
						<p class="lead">Menyediakan layanan konsultasi dan kostumisasi sehingga produk yang dibuat dapat sesuai kebutuhan bisnis pelanggan</p>
					</div>
				</div>
			</div><!-- /lc-block -->
		</div><!-- /col -->
	</div>
</div>

<div class="container text-center py-1 mt-5 ">
	<div class="p-2 mb-3 lc-block">
		<div class="lc-block mb-4">
			<div editable="rich">
				<h2 class="fw-bold display-5">Visi dan Misi</h2>
			</div>
		</div>
	</div>
</div>

<div class="row mb-14">
	<div class="col-md-6">
		<div class="p-lg-5 p-4 shadow h-150">
			<div class="lc-block mb-4">
				<h2 class="my-3 text-center" editable="inline"><strong>Visi</strong></h2>
				<p class="lead" editable="inline">Menjadi perusahaan teknologi terdepan di Indonesia yang membantu pelanggan dalam transformasi digital dengan teknologi kecerdasan buatan dan membantu mengubah dunia digital menjadi tempat yang lebih aman dan nyaman bagi setiap orang.&nbsp;</p>


				<!-- <a class="btn btn-outline-primary" href="#" role="button">Read more</a> -->
			</div><!-- /lc-block -->
		</div>
	</div><!-- /col -->
	<div class="col-md-6">
		<div class="p-lg-5 p-4 shadow h-150">
			<div class="lc-block mb-4">
				<h2 class="my-3 text-center" editable="inline"><strong>Misi</strong></h2>
				<p class="lead" editable="inline">Untuk meningkatkan bisnis klien melalui layanan teknologi kecerdasan buatan dan untuk menciptakan internet yang aman dan nyaman.&nbsp;</p>


				<!-- <a class="btn btn-outline-primary" href="#" role="button">Read more</a> -->
			</div><!-- /lc-block -->
		</div>
	</div><!-- /col -->
</div>





    

<!-- </div> -->
